# Assignment 4 Group 16

## Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import t
from datetime import datetime

## Load the data from the files

In [29]:
# load the indexes as dictionary of {ticker: name}
with open('data/_indexes.csv', 'r') as f:
    # skip the first line
    indexes = {
        line.split(',')[1]: line.split(',')[2].strip()
        for line in f.readlines()[1:]
    }

{'ABI.BR': 'Anheuser-Busch InBev\n', 'AD.AS': 'Ahold Delhaize\n', 'ADSGn.DE': 'Adidas\n', 'ADYEN.AS': 'Adyen\n', 'AIR.PA': 'Airbus\n', 'AIRP.PA': 'Air Liquide\n', 'ALVG.DE': 'Allianz\n', 'ASML.AS': 'ASML\n', 'AXAF.PA': 'AXA\n', 'BASFn.DE': 'BASF\n', 'BAYGn.DE': 'Bayer\n', 'BBVA.MC': 'BBVA\n', 'BMWG.DE': 'BMW\n', 'BNPP.PA': 'BNP Paribas\n', 'CRH.I': 'CRH\n', 'DANO.PA': 'Danone\n', 'DB1Gn.DE': 'Deutsche Boerse\n', 'DPWGn.DE': 'Deutsche Post\n', 'DTEGn.DE': 'Deutsche Telekom\n', 'ENEI.MI': 'Enel\n', 'ENI.MI': 'Eni\n', 'ESLX.PA': 'EssilorLuxottica\n', 'FLTRF.I': 'Flutter Entertainment\n', 'HRMS.PA': 'HermÃ¨s\n', 'IBE.MC': 'Iberdrola\n', 'IFXGn.DE': 'Infineon Technologies\n', 'INGA.AS': 'ING Group\n', 'ISP.MI': 'Intesa Sanpaolo\n', 'ITX.MC': 'Inditex\n', 'LINI.DE': 'Linde PLC\n', 'LVMH.PA': 'LVMH MoÃ«t Hennessy Louis Vuitton\n', 'MBGn.DE': 'Mercedes-Benz Group\n', 'MUVGn.DE': 'Munich Re\n', 'NDAFI.HE': 'Nordea\n', 'NOKIA.HE': 'Nokia\n', 'OREP.PA': "L'OrÃ©al\n", 'PERP.PA': 'Pernod Ricard\n', 'PRTP.PA': 'Kering\n', 'PRX.AS': 'Prosus\n', 'SAF.PA': 'Safran\n', 'SAN.MC': 'Banco Santander\n', 'SAPG.DE': 'SAP\n', 'SASY.PA': 'Sanofi\n', 'SCHN.PA': 'Schneider Electric\n', 'SGEF.PA': 'Vinci\n', 'SIEGn.DE': 'Siemens\n', 'STLAM.MI': 'Stellantis\n', 'TTEF.PA': 'TotalEnergies\n', 'VNAn.DE': 'Vonovia\n', 'VOWG_p.DE': 'Volkswagen Group\n'}

In [3]:
# load the actual dataset as a dataframe
EuroStoxx50 = pd.read_csv('data/EUROSTOXX50_Dataset.csv', sep=',', index_col=0, parse_dates=True)
EuroStoxx50.head()

,ABI.BR,AD.AS,ADSGn.DE,ADYEN.AS,AIR.PA,AIRP.PA,ALVG.DE,ASML.AS,AXAF.PA,BASFn.DE,...,SAN.MC,SAPG.DE,SASY.PA,SCHN.PA,SGEF.PA,SIEGn.DE,STLAM.MI,TTEF.PA,VNAn.DE,VOWG_p.DE
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,67.35,10.344663,67.48,NaN,30.065,63.872086,108.30,50.170,13.810,73.18,...,4.642466,61.740795,72.619232,56.69,36.477679,73.202953,1.859794,39.975,NaN,179.00
2013-01-03,66.54,10.344663,67.18,NaN,30.200,63.433011,108.00,50.340,13.825,72.35,...,4.626329,61.661232,72.430223,56.45,36.636105,73.255365,1.886567,39.855,NaN,178.90
2013-01-04,67.62,10.465124,66.72,NaN,30.800,63.499538,108.20,49.755,13.865,72.47,...,4.643200,61.134128,73.285737,56.43,36.754925,73.316513,1.917165,39.820,NaN,178.85
2013-01-07,66.93,10.530375,66.28,NaN,30.750,62.973979,107.70,48.750,13.905,71.64,...,4.637332,60.616969,72.997250,56.10,36.403416,73.045715,1.919078,39.155,NaN,175.95
2013-01-08,65.90,10.460105,66.36,NaN,30.925,62.767747,107.05,48.220,13.575,71.14,...,4.650535,60.318608,73.365320,56.12,36.304400,72.556530,1.895173,39.385,NaN,174.00

In [4]:
# summarize the dataset
EuroStoxx50.describe()

,ABI.BR,AD.AS,ADSGn.DE,ADYEN.AS,AIR.PA,AIRP.PA,ALVG.DE,ASML.AS,AXAF.PA,BASFn.DE,...,SAN.MC,SAPG.DE,SASY.PA,SCHN.PA,SGEF.PA,SIEGn.DE,STLAM.MI,TTEF.PA,VNAn.DE,VOWG_p.DE
count,2595.000000,2595.000000,2568.000000,1204.000000,2595.000000,2595.000000,2568.000000,2595.000000,2595.000000,2568.000000,...,2593.000000,2568.000000,2595.000000,2595.000000,2595.000000,2568.000000,2574.000000,2595.000000,2435.000000,2568.000000
mean,78.466609,20.222655,168.117960,1313.152865,79.464584,94.856556,169.402371,228.457549,21.497944,69.981291,...,4.117864,87.953312,80.714696,83.908960,72.686856,99.203473,8.653848,44.765356,34.876696,159.223306
std,22.017982,4.959865,78.600789,634.775495,27.851830,25.424532,34.043809,192.493032,3.408427,13.209816,...,1.239889,23.157071,7.999882,31.224451,18.878874,20.444696,4.366842,6.105825,11.245108,31.092819
min,30.970000,10.344663,53.890000,411.000000,30.065000,59.481338,101.750000,47.200000,12.494000,38.850000,...,1.460862,50.621882,62.880297,45.930000,34.155742,54.880885,1.859794,21.795000,15.654411,87.200000
25%,56.970000,17.043070,85.000000,680.150000,53.915000,72.103553,138.450000,85.510000,18.907000,62.605000,...,3.176468,65.689103,74.653565,62.020000,56.315000,84.843162,4.683985,40.917500,26.520376,137.600000
50%,76.300000,20.175000,172.775000,1366.000000,72.380000,87.479356,174.655000,148.500000,22.165000,69.815000,...,4.009865,90.157344,79.801572,69.820000,77.220000,94.914723,7.764398,45.280000,33.500000,153.630000
75%,98.465000,23.472500,235.137500,1789.000000,105.010000,120.072733,198.460000,317.450000,23.967500,80.377500,...,5.202168,105.045614,86.635739,102.875000,88.310000,108.752134,12.067848,48.572500,43.469417,179.927500
max,123.250000,31.090000,336.250000,2766.000000,139.000000,150.600015,232.000000,770.500000,28.830000,97.670000,...,6.771846,141.482691,105.665956,177.820000,109.540000,157.960000,19.140000,60.710000,58.327952,255.200000

In [27]:
# drop the columns that only contain NaN
EuroStoxx50 = EuroStoxx50.dropna(axis=1, how='all')
# for those who have NaN, fill them with the previous value
EuroStoxx50 = EuroStoxx50.ffill()

In [25]:
# create the log-returns dataframe
# returns = EuroStoxx50.pct_change()
# returns = returns.dropna(axis=0, how='all')

returns = np.log(EuroStoxx50/EuroStoxx50.shift(1)).dropna()

print(returns.head())

              ABI.BR     AD.AS  ADSGn.DE  ADYEN.AS    AIR.PA   AIRP.PA  \
Date
2019-09-12  0.028737  0.001327  0.019585  0.028305  0.010632  0.019319
2019-09-13 -0.008110  0.011863 -0.012035 -0.019633  0.005433 -0.009810
2019-09-16 -0.002411 -0.012526 -0.014971 -0.008027 -0.034534 -0.005932
2019-09-17  0.005046 -0.000885  0.008530  0.018525  0.005921  0.014961
2019-09-18  0.002513 -0.003770  0.009738  0.009449  0.007027  0.001952

             ALVG.DE   ASML.AS   AXAF.PA  BASFn.DE  ...    SAN.MC   SAPG.DE  \
Date                                                ...
2019-09-12  0.006924  0.012590 -0.001337 -0.003874  ...  0.004705  0.001831
2019-09-13  0.008765  0.012434  0.013729  0.020591  ...  0.024640 -0.013443
2019-09-16 -0.008051 -0.012210 -0.006398 -0.001217  ... -0.014499 -0.013062
2019-09-17 -0.002857 -0.002460 -0.001772 -0.021394  ... -0.029507  0.016579
2019-09-18  0.001906  0.012240  0.003762 -0.004053  ... -0.009894  0.002214

             SASY.PA   SCHN.PA   SGEF.PA  SIEGn.DE  STLAM.MI   TTEF.PA  \
Date
2019-09-12  0.007676  0.007732  0.013844 -0.006801  0.012808 -0.012057
2019-09-13 -0.003013  0.018950 -0.006491  0.002169 -0.000796  0.001502
2019-09-16 -0.005548 -0.018205 -0.012285 -0.002272  0.001591  0.024666
2019-09-17  0.011440 -0.003731  0.010656  0.003201 -0.015378  0.000836
2019-09-18  0.002746  0.003483  0.003865 -0.004649  0.000000  0.003442

             VNAn.DE  VOWG_p.DE
Date
2019-09-12 -0.001184   0.006785
2019-09-13 -0.000948   0.008259
2019-09-16 -0.003800  -0.003168
2019-09-17  0.025377  -0.010976
2019-09-18  0.012222   0.000641

[5 rows x 50 columns]

# Point 0: Variance-Covariance method for VaR and ES in a linear portfolio

On the 20th of February 2020 we have an equally weighted portfolio made up of the following equities

- Adidas
- Allianz
- Munich Re
- L'Oréal

We compute the daily VaR and ES with a 5y estimation using a t-student distribution with 4 degrees
of freedom ($\nu$).
The notional of the portfolio is 15 million €. We take a significance level of $\alpha = 0.99\%$.

Wherever we have missing data due to differing trading days for each stock we substitute the previous
day's value.

## Select the data

In [31]:
# create a dataframe with the relevant time series
df = returns[['ADSGn.DE', 'ALVG.DE', 'MUVGn.DE', 'OREP.PA']]
# set the date to 20th February 2020
valuation_date = datetime(2020, 2, 20)
# only use data prior to the valuation date
df = df[df.index < valuation_date]
# only use the last 5 years
df = df[df.index > valuation_date - pd.DateOffset(years=5)]

## Set the parameters

In [17]:
# set nu and alpha
nu = 4
alpha = 0.99
notional = 15 * 10**6

# estimate the mean vector
mean_df = df.mean()
# estimate the covariance matrix
Cov_df = df.cov()
# create the weights vector
weights = np.array([0.25, 0.25, 0.25, 0.25])

## Daily VaR
We compute the daily VaR using the variance-covariance method. The daily VaR is given by:

$$
VaR_{\alpha} = \underbrace{\bar\mu \cdot \bar\omega}_{\mu} + \underbrace{ \sqrt{\bar\omega^T \Sigma \bar\omega}}_{\sigma} \cdot t^{-1}_{\nu} (\alpha)
$$

Where:

- $\bar\omega$ is the vector of weights of the portfolio
- $\bar\mu$ is the vector of expected returns of the portfolio
- $\Sigma$ is the variance-covariance matrix of the returns of the portfolio
- $t^{-1}_{\nu}(\alpha)$ is the $\alpha$-quantile of the t-student distribution with $\nu$ degrees of freedom

To compute the quantity $t^{-1}_{\nu}(\alpha)$ we use the `t.ppf` function from the `scipy.stats` module.

See [this stackoverflow answer](https://stackoverflow.com/questions/65468026/norm-ppf-vs-norm-cdf-in-pythons-scipy-stats)
and [this documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html#:~:text=ppf(q%2C%20df,cdf%20%E2%80%94%20percentiles).) for more information.

In [18]:
# set the parameters for the t-distribution and quantile
alpha = 0.99
nu = 4
t_alpha = t.ppf(alpha, nu)

# compute the VaR
VaR = mean_df @ weights + np.sqrt(weights @ Cov_df @ weights) * t_alpha

print(f'The daily VaR at 99% confidence level is {VaR:.2%}')
print(f'The daily VaR at 99% confidence level is {VaR * notional:.2f} EUR')

The daily VaR at 99% confidence level is 3.87%
The daily VaR at 99% confidence level is 579830.52 EUR

### Daily ES

We compute the daily ES using the variance-covariance method. The daily ES is given by:

$$
ES_{\alpha} = \bar\mu \cdot \bar\omega +
    \sqrt{\bar\omega^T \Sigma \bar\omega} \cdot
    \underbrace{
        \frac{\nu + ( t^{-1}_{\nu}(\alpha) )^2}{\nu - 1} \cdot \frac{ \phi_{\nu} (t^{-1}_{\nu}(\alpha)) }{1 - \alpha}
    }_{ES_{\alpha}^{std}}
$$

Where:

- $\bar\omega$ is the vector of weights of the portfolio
- $\bar\mu$ is the vector of expected returns of the portfolio
- $\Sigma$ is the variance-covariance matrix of the returns of the portfolio
- $t^{-1}_{\nu}(\alpha)$ is the $\alpha$-quantile of the t-student distribution with $\nu$ degrees of freedom
- $\phi_{\nu} (\cdot)$ is the density function of the t-student distribution with $\nu$ degrees of freedom

In [19]:
# compute the ES for the standard t-distribution
ES_std = (nu + t_alpha**2) / (nu - 1) * (t.pdf(t_alpha, nu) / (1 - alpha))

# compute the ES for the portfolio
ES = mean_df @ weights + np.sqrt(weights @ Cov_df @ weights) * ES_std

print(f'The daily ES at 99% confidence level is {ES:.2%}')
print(f'The daily ES at 99% confidence level is {ES * notional:.2f} EUR')

The daily ES at 99% confidence level is 5.36%
The daily ES at 99% confidence level is 804009.91 EUR